{% extends 'base.html' %}

    {%block content%}
    <br><br>
        <div id="magin" >
            <img id="circle" src="https://lh3.googleusercontent.com/-x7MPtTqbJh1irsVEpTEsTk_6ZJXW26U9cy4av_m-gGR1UnmW1W07DxOgTguJhx4K37fJel3-SB_Syb-OvkR2f8TSWJiRA3fzJT-jRY"></img>
        <br>   <br>    <br>    <br>   <br>  <br>   <br>  <br>   <br> 
        <h2   id="titulo" style="color:#d61c59; font-size:300%;"> ¿Qué nos hace "Rare"?</h2>
            <h4 id="justificar">Juntos estamos construyendo un espacio seguro y acogedor en la belleza y más allá. 
                Este es un maquillaje hecho para sentirse bien, sin ocultar lo que te hace único.
                Y todo es vegano y libre de crueldad.Haz un impacto en la salud mental.
                El 1 % de las ventas anuales de Rare Beauty se destinará directamente al Rare Impact Fund para 
                expandir los servicios de salud mental 
                en comunidades desatendidas.</h4>
        </div>
        <br><br> <br><br> <br><br><br><br>
        <div id="magin2">
            <h2   id="titulo" style="color:#d61c59; font-size:300%;"> Face collection</h2>
            <p > 
                <img src="https://i.blogs.es/15d5f3/rarebeauty_118646851_2574836506160146_1883443779645440237_n/450_1000.jpeg" 
                align="right"  a width="300" height="300">
                <h5 id="magin2">En primer lugar, Rare Beauty ofrece 48 tonos diferentes de foundation que además de dar cobertura busca resaltar la belleza natural de cada una de nosotras. También nos ofrece 8 tonos distintos de blush que además de los increíbles tonos , cada nombre es una palabra como joy, love o grace.
                    <br>
                    <br>
                    Además cuenta con un primer iluminador con una fórmula refrescante de perlas ultrafinas que dan a la piel un brillo natural. Por último ofrece concealer con cobertura media y luminizer líquido de larga duración. De igual fomra ofrecer infinidad de colores que se adaptan a cada rostro Rare Beauty va más allá de los estándares de belleza.
                    <br>
                    <br>
                    También la marca cuenta con dos paletas de sombras con seis tonos distintos en cada una ofreciendo una máxima variedad para cada personalidad. Primero «Magnetic Spirit» ofrece tonos que cuenta con tonos lavanda, champagne rosa, coral y oliva.
                    <br>
                    <br>
                    Rare Beauty cuenta con eyeliner líquido y un lápiz para cejas con dos puntas una de lápiz y otra de gel de larga duración que sin dudas es nuestro favorito.
                </h5></p>
        </div>
        <br> <br>
        <br>
        <footer style="background-color: #faedca;">
            <h6 id="center">
            SIGN UP FOR EMAIL AND/OR TEXTS FOR THE LATEST UPDATES, SPECIAL OFFERS, AND MORE.</h6>
            <h6 id="magin2, justificar">
            By entering your email address and clicking "Join Us" you agree to receive marketing email messages from Rare Beauty at the email address provided. Unsubscribe at any time. View our Privacy Policy & Terms of Service.
            </h6>
          </footer>
    {%endblock content%}